/* ==========================================================================
 Header / Components
 ========================================================================== */

.header {
    background-color: var(--color-bg-primary);
    height: 60px;
    left: 0;
    padding: 0 var(--spacing-sm);
    position: fixed;
    top: 0;

    width: 100%;

    .wrapper {
        align-items: center;
        display: flex;
        height: 100%;
        justify-content: space-between;
        width: 100%;
    }

    .header__brand {
        height: 100%;
        z-index: 3;
        a {
            align-items: center;
            display: flex;
            height: 100%;
        }

        img {
            max-height: 30px;
        }
    }

    .header__toggle {
        --bar-width: 35px;
        --bar-width-short: 27px;
        --bar-height: 2px;
        --bar-spacer: 10px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: var(--bar-width);
        outline: none;
        padding: 0;
        position: relative;
        width: var(--bar-width);

        span {
            background: var(--color-secondary);
            display: block;
            height: var(--bar-height);
            left: calc(50% - var(--bar-width) / 2);
            top: calc(50% - var(--bar-height) / 2);
            transition: all 0.3s ease-in-out;
            width: var(--bar-width);

            &:nth-child(1) {
                margin-bottom: var(--bar-spacer);
                transform-origin: 100% 0%;
            }

            &:nth-child(2) {
                margin-left: auto;
                transform-origin: right;
                width: var(--bar-width-short);
            }

            &:nth-child(3) {
                margin-top: var(--bar-spacer);
                transform-origin: 100% 100%;
            }
        }
    }

   /* @supports (-webkit-text-stroke: 1px var(--color-secondary)) {
        .nav__item {
            letter-spacing: 0.1em;
            -webkit-text-stroke: 1px var(--color-secondary);
            -webkit-text-fill-color: var(--color-bg-primary);
        }
    }*/

    .nav--primary {
        background-color: var(--color-bg-primary);
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(100vw);
        transition: all 0.3s ease-out;
        width: 100vw;
        font-family: var(--font-secondary);
        text-transform: uppercase;

        .nav__item {
            color: var(--color-secondary);
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: space-around;
        margin-top: 0;
        padding: 200px 0;
    }
    li {
        font-size: var(--font-size-h3);
        text-align: center;
    }

    .nav-is-active & {
        .nav--primary {
            transform: translateX(0);
        }

        span {
            &:nth-child(1) {
                transform: rotate(-45deg);
            }

            &:nth-child(2) {
                transform: scaleX(0);
            }

            &:nth-child(3) {
                transform: rotate(45deg);
            }
        }
    }
}

@media screen and (min-width: $breakpoint-md) {
    .header {
        padding: var(--spacing-lg);
        height: 120px;

        .header__toggle {
            display: none;
        }

        .nav--primary {
            
            transform: translateX(0);
            height: 100%;
            width: 600px;
            position: relative;
            background-color: rgba($color: #000000, $alpha: 0);
            

            ul {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                padding: 0;
                height: 100%;

                
            }


            .nav__item {
                font-size: 16px;
                font-weight: 400;
                -webkit-text-stroke: 0px var(--color-secondary);
                color: var(--color-tertiary);
                -webkit-text-fill-color: var(--color-secondary-tertiary);
                padding: 0 15px;
                position: relative;
                transition: color .5s ease-in;
                white-space: nowrap;


                &::after {
                    content: "";
                    border: 2px solid rgba($color: #00b3ff, $alpha: 0);
                    height: 30px;
                    width: 30px;
                    transform: rotate(0deg) scale(0);
                    position: absolute;
                    left: 0;
                    z-index: -1;
                    transition: all .3s ease-in;
                }

                &:hover::after {
                    border: 2px solid rgba($color: #00b3ff, $alpha: 0.5);
                    transform: rotate(45deg) scale(1);
                }

                &:hover {
                    color: var(--color-secondary);
                -webkit-text-fill-color: var(--color-secondary);
                }
                
            }

        }

        .header__brand {
            height: auto;

            img {
                max-height: 50px;
            }
        }
    }
}
