/* ==========================================================================
 Projet Piano 3D / Components
 ========================================================================== */
.hero--piano {
    background-image: linear-gradient(
            180deg,
            rgba(0, 0, 0, 0.2) 36.22%,
            rgba(0, 0, 0, 0.775) 59.66%,
            #000000 100%
        ),
        url(../../assets/images/hero-piano.png);
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @media screen and (min-width: $breakpoint-md) {
        padding-bottom: 60px;

        .info__projet {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            margin-left: auto;

            h3 {
                border-top: none;
                border-left: 1px solid rgba(250, 248, 248, 0.3);
                padding-left: 35px;
                margin-left: 35px;
            }

            h2 {
                font-size: var(--font-size-h2-smaller-desk);
            }
        }

        .info__left {
            display: flex;
            align-items: center;
        }

        button {
            width: fit-content;
            justify-self: flex-end;
        }
    }

    h1,
    h2 {
        text-align: left;
    }

    h1 {
        margin: 0;
    }

    h2 {
        font-size: var(--font-size-h1-smaller);
        margin: 0 0 10px 0;
    }

    h3 {
        font-family: var(--font-secondary);
        letter-spacing: normal;
        padding: var(--spacing-sm) 0;
        border-top: 1px solid rgba(250, 248, 248, 0.3);
        width: fit-content;
        margin: 0;
    }

    button {
        margin-bottom: 35px;
        letter-spacing: 0.1em;

        a {
            color: var(--color-secondary);
        }
    }

    @media screen and (min-width: $breakpoint-md) {
        button,
        h2 {
            margin-bottom: 0;
        }
    }
}

.projet__defis {
    padding-bottom: var(--spacing-lg);
}

// Section contexte

.projet__contexte,
.projet__processus,
.projet__processus__suite,
.projet__defis {
    padding-top: 60px;

    .photo__projet {
        cursor: none;
    }

    .contexte__details,
    .contexte__details h3 {
        font-family: var(--font-secondary);
        font-size: var(--font-size-h3-smaller);
    }

    h3 {
        color: var(--color-secondary);
        margin: 60px 0 35px 0;
    }

    .logiciel {
        max-width: 26px;
    }

    .logiciel__container {
        border: 2px solid rgba(0, 179, 255, 0.5);
        width: 50px;
        height: 50px;
        transform: rotate(45deg);
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        img {
            transform: rotate(-45deg);
        }
    }

    .credits__container {
        a {
            color: var(--color-tertiary);
            transition: 0.3s ease-in;
        }

        a:hover {
            color: var(--color-secondary);
        }
    }

    .logiciel__container,
    .credits__container {
        margin-bottom: 60px;
    }

    .legende {
        font-size: var(--font-size-xsmall);
        text-align: center;
    }

    .contexte__description,
    .processus__description,
    .defis__description {
        margin: 60px 0;
    }

    @media screen and (min-width: $breakpoint-md) {
        height: 100vh;
        padding-top: 120px;
        display: flex;
        align-items: center;

        .contexte__container,
        .processus__container,
        .defis__container {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: repeat(2, 1fr);

            h3 {
                margin-top: 0;
            }

            h2 {
                margin-bottom: 0;
            }

            .contexte__title,
            .defis__title {
                grid-column: 2/-1;
                grid-row: 1/2;
            }

            .processus__title {
                grid-column: 2/-1;
                grid-row: 1/2;
            }

            .contexte__description {
                grid-column: 1/2;
                grid-row: 2/3;
                margin-top: 20px;
            }

            .defis__description {
                grid-column: 2/-1;
                grid-row: 2/-1;
                margin-top: 20px;
            }

            .processus__description {
                grid-column: 2/-1;
                grid-row: 2/-1;
                margin-top: 20px;
            }

            .photo__container--right {
                grid-column: 2/3;
                grid-row: 1/-1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-left: var(--spacing-lg);
            }

            .photo__container--left {
                grid-column: 1/2;
                grid-row: 1/-1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin-right: var(--spacing-lg);
            }

            .contexte__details {
                display: flex;
                justify-content: space-between;
                grid-column: 1/2;
                grid-row: 3/-1;
            }
        }
    }
}

// Section processus
