/* ==========================================================================
 Section À propos / Components
 ========================================================================== */
.a-propos {
    padding-top: 60px;

    @media screen and (min-width: $breakpoint-md) {
        padding-top: 120px;
    }

    .photo {
        clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
        width: 100%;
        max-width: 767px;
    }

    .a-propos__photo {
        position: relative;
        display: flex;
        justify-content: center;

        @media screen and (min-width: $breakpoint-md) {
            width: 45%;
            transform: translateY(-30%);
        }
    }

    .losange {
        position: absolute;
        width: 30%;
        height: 30%;
        border: 17px solid rgba(0, 179, 255, 0.5);
        top: 55%;
        left: 10%;
        z-index: 2;
        transform: rotate(45deg);

        @media screen and (min-width: $breakpoint-sm) {
            width: 200px;
            height: 200px;
            border: 30px solid rgba(0, 179, 255, 0.5);
            left: 5%;
        }
    }

    .text--bold {
        font-weight: 600;
        color: var(--color-secondary);
    }

    .a-propos__texte {
        margin: 35px 0;
        line-height: 200%;

        @media screen and (min-width: $breakpoint-md) {
            font-size: var(--font-size-content-desk);
        }

        @media screen and (min-width: $breakpoint-md) {
            width: 40%;
        }
    }

    .a-propos__description {
        @media screen and (min-width: $breakpoint-md) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    .qualite {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 35px;

        @media screen and (min-width: $breakpoint-md) {
            flex-direction: row;
            align-items: center;
        }

        .numero {
            font-size: 80px;
            font-family: var(--font-primary);
            -webkit-text-stroke: 1px var(--color-tertiary);
            -webkit-text-fill-color: var(--color-bg-primary);
            -webkit-font-smoothing: antialiased;
            position: relative;

            @media screen and (min-width: $breakpoint-md) {
                font-size: 144px;
            }

            h3 {
                position: absolute;
                bottom: 0;
                left: 50%;
                -webkit-text-stroke: 0px;
                -webkit-text-fill-color: var(--color-primary);
                margin: 0;

                @media screen and (min-width: $breakpoint-md) {
                    font-size: var(--font-size-h2-smaller-desk);
                    margin: 0;
                    bottom: 15%;
                }
            }
        }
        p {
            font-family: var(--font-secondary);
            text-transform: none;
            color: var(--color-tertiary);
            font-size: var(--font-size-content);
            letter-spacing: normal;

            @media screen and (min-width: $breakpoint-md) {
                font-size: var(--font-size-content-desk);
                margin: 0 0 0 30%;
            }
        }
    }

    @media screen and (min-width: $breakpoint-lg) {
        .qualite:nth-of-type(2) {
            transform: translateX(10%);
        }

        .qualite:nth-of-type(3) {
            transform: translateX(20%);
        }
    }
}
