/* ==========================================================================
 Section À propos / Components
 ========================================================================== */
.a-propos {
    padding-top: 60px;
    padding-bottom: 120px;

    @media screen and (min-width: $breakpoint-md) {
        padding-top: 120px;
    }

    .photo {
        width: 100%;
        object-fit: scale-down;
    }

    .a-propos__section {
        height: 100vh;
    }

    .a-propos__photo {
        position: relative;
        display: flex;
        justify-content: center;
        width: 75%;
        margin: 0 auto;

        @media screen and (min-width: $breakpoint-md) {
            width: 45%;
            transform: translateY(-30%);
        }
    }

    .text--bold {
        font-weight: 600;
        color: var(--color-secondary);
    }

    .a-propos__texte {
        margin: 35px 0;
        line-height: 200%;

        @media screen and (min-width: $breakpoint-md) {
            width: 40%;
        }
    }

    .a-propos__description {
        @media screen and (min-width: $breakpoint-md) {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
        }
    }

    // Mes qualités

    .a-propos__qualites {
        height: 100vh;

        h2 {
            margin-bottom: 120px;
        }
    }
    .qualite {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: var(--spacing-md);

        @media screen and (min-width: $breakpoint-md) {
            flex-direction: row;
            align-items: center;
        }

        .numero {
            font-size: 80px;
            font-family: var(--font-primary);
            -webkit-text-stroke: 1px var(--color-tertiary);
            -webkit-text-fill-color: transparent;
            -webkit-font-smoothing: antialiased;
            position: absolute;
            bottom: 0;
            left: -10%;
            line-height: 100%;
            z-index: -1;
            padding-left: 10%;

            @media screen and (min-width: $breakpoint-md) {
                font-size: 144px;
            }
        }
        h3 {
            position: relative;

            -webkit-text-stroke: 0px;
            -webkit-text-fill-color: var(--color-primary);
            margin: 20px 0;

            @media screen and (min-width: $breakpoint-md) {
                font-size: var(--font-size-h2-smaller-desk);
                margin: 50px 0;
            }
        }
        p {
            font-family: var(--font-secondary);
            text-transform: none;
            color: var(--color-tertiary);
            font-size: var(--font-size-content);
            letter-spacing: normal;

            @media screen and (min-width: $breakpoint-md) {
                margin-left: auto;
                text-align: right;
            }

            @media screen and (min-width: $breakpoint-md) {
                margin-left: 25%;
            }
        }
    }

    @media screen and (min-width: $breakpoint-lg) {
        .qualite:nth-of-type(2) {
            transform: translateX(10%);
        }

        .qualite:nth-of-type(3) {
            transform: translateX(20%);
        }
    }

    // Mes compétences

    .a-propos__competences {
        height: 100vh;

        img {
            transform: rotate(45deg);
            max-width: 40%;
            transition: 0.3s ease-in;
            transform-origin: 50%;
            filter: brightness(0) saturate(100%) invert(85%) sepia(0%)
                saturate(0%) hue-rotate(149deg) brightness(89%) contrast(92%);
        }
        .competence--container:hover {
            border: 2px solid rgba(0, 179, 255, 1);

            img {
                max-width: 60%;
                filter: none;
            }

            p {
                -webkit-text-stroke: 0px var(--color-primary);
                -webkit-text-fill-color: var(--color-secondary);
            }
        }

        .competence--container {
            border: 2px solid rgba(0, 179, 255, 0.5);
            transform: rotate(-45deg);
            width: 75px;
            height: 75px;

            margin: 0;
            padding: 0;
            position: relative;
            transform-origin: center;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.3s ease-in;

            @media screen and (min-width: $breakpoint-xs) {
                width: 100px;
                height: 100px;
            }

            @media screen and (min-width: $breakpoint-sm) {
                width: 150px;
                height: 150px;
            }

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(160%);
                font-family: var(--font-primary);
                font-size: 12px;
                -webkit-text-stroke: 0.5px var(--color-secondary);
                -webkit-text-fill-color: transparent;
                -webkit-font-smoothing: antialiased;
                letter-spacing: 0.105em;
                margin: 12px 0;

                @media screen and (min-width: $breakpoint-xs) {
                    margin: 30px 0;
                }

                @media screen and (min-width: $breakpoint-sm) {
                    margin: 60px 0;
                }

                @media screen and (min-width: $breakpoint-sm) {
                    margin: 40px 0;
                }
            }
        }

        .competences__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            margin: 0;
            gap: 100px 0px;

            .competence {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            @media screen and (min-width: $breakpoint-md) {
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(2, 1fr);
                margin: 0 40px;

                gap: 50px 0px;
                .competence:nth-child(1) {
                    grid-column: 1/2;
                }

                .competence:nth-child(2) {
                    grid-column: 3/4;
                }

                .competence:nth-child(3) {
                    grid-column: 5/6;
                }

                .competence:nth-child(4) {
                    grid-column: 2/3;
                    grid-row: 2;
                }

                .competence:nth-child(5) {
                    grid-column: 4/5;
                    grid-row: 2;
                }

                .competence:nth-child(6) {
                    grid-column: 6/7;
                    grid-row: 2;
                }
            }
        }

        @media screen and (min-width: $breakpoint-md) {
            .competence--container {
                border: 2px solid rgba(0, 179, 255, 0.5);

                img {
                    max-width: 40%;
                    filter: none;
                }

                p {
                    -webkit-text-stroke: 0.5px var(--color-secondary);
                    -webkit-text-fill-color: transparent;
                }
            }

            .competence--container:hover {
                border: 2px solid rgba(0, 179, 255, 1);

                img {
                    max-width: 60%;
                    filter: brightness(0) saturate(100%) invert(100%) sepia(1%)
                        saturate(6109%) hue-rotate(291deg) brightness(88%)
                        contrast(108%);
                }

                p {
                    -webkit-text-stroke: 0px var(--color-primary);
                    -webkit-text-fill-color: var(--color-secondary);
                }
            }

            .competence--container {
                width: 150px;
                height: 150px;

                p {
                    transform: translateX(-50%) translateY(200%);
                    font-size: var(--font-size-content-desk);
                }
            }

            .swiper-container-initialized {
                margin-top: 150px;
            }
        }
    }
}
