/* ==========================================================================
 Title Sections / Components
 ========================================================================== */

h1.title--section {
    letter-spacing: 0.1em;
    font-size: var(--font-size-h1);
    text-align: center;
    line-height: 100%;
    margin: 20px 0 50px 0px;
    color: var(--color-primary);

    @media screen and (min-width: $breakpoint-md) {
        font-size: var(--font-size-h1-desk);
        text-align: left;
        margin: 20px 0 70px 0px;
    }

    span {
        font-size: var(--font-size-h1-smaller);
        -webkit-text-stroke: 1px var(--color-primary);
        -webkit-text-fill-color: var(--color-bg-primary);
        -webkit-font-smoothing: antialiased;
        position: absolute;
        transform: translateX(-100px);

        @media screen and (min-width: $breakpoint-md) {
            font-size: var(--font-size-h1-smaller-desk);
            transform: translateX(100px);
        }
    }
}

h2.title--section {
    letter-spacing: 0.1em;
    font-size: var(--font-size-h2);
    text-align: center;
    line-height: 100%;
    margin: 50px 0;
    color: var(--color-primary);

    @media screen and (min-width: $breakpoint-md) {
        font-size: var(--font-size-h2-desk);
        text-align: left;
        margin: 20px 0 70px 0px;
    }

    span {
        font-size: var(--font-size-h2-smaller);
        -webkit-text-stroke: 1px var(--color-primary);
        -webkit-text-fill-color: transparent;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        transform: translateX(-80px);

        @media screen and (min-width: $breakpoint-md) {
            font-size: var(--font-size-h2-smaller-desk);
            transform: translateX(100px);
        }
    }
}

.stroke {
    -webkit-text-stroke: 1px var(--color-primary);
    -webkit-text-fill-color: transparent;
}
