/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #faf8f8;
    --color-black: #000;

    // Couleurs du projet
    --color-primary: #00b3ff;
    --color-primary-darker: #0b648a;
    --color-secondary: #faf8f8;
    --color-secondary-darker: #e7e5e5;
    --color-tertiary: #bbb;
    --color-tertiary-darker: #939393;

    --color-bg-primary: #161616;
}
