/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Ministry of Moron', Helvetica, Arial, sans-serif;
    --font-secondary: 'Epilogue', Helvetica, Arial, sans-serif;

    --font-size-content: 1rem;

    /// Grosseur des textes sur mobile
    --font-size-h1: 3rem; //48px
    --font-size-h1-smaller: 2.25rem; //36px
    --font-size-h2: 1.875rem; //30px
    --font-size-h2-smaller: 1.125rem; //18px
    --font-size-h3: 1.5rem; //24px
    --font-size-h3-smaller: 1.125rem; //18px

    --font-size-xsmall: 0.875rem; //14px
    --font-size-small: 1rem; //16px
    --font-size-content: 0.875rem; //14px

    //Grosseur des textes sur tablette
    --font-size-xl-tab: 6.25rem; //100px
    --font-size-large-tab: 4.5rem; // 72px

    //Grosseur des textes sur desktop
    --font-size-xl-desk: 12.5rem; //200px
    --font-size-large-desk: 9rem; // 144px
    --font-size-h1-desk: 6rem; //96px
    --font-size-h1-smaller-desk: 4.5rem; //72px
    --font-size-h2-desk: 4rem; //64px
    --font-size-h2-smaller-desk: 3rem; //48px
    --font-size-content-desk: 1.125rem; //18px
}
